// MongoDB connection URI
MONGO_URI=
// Secret key for JWT signing
JWT_SECRET=
// Email configuration
MAIL_HOST=
MAIL_PASS=
MAIL_PORT=
MAIL_USER=
// Number of rounds for bcrypt hashing
N=
// Cloudinary configuration for image hosting
CLOUDINARY_API_ENV=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=

// github and google OAuth credentials
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

// Google OAuth credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

// openai API key 
OPENAI_API_KEY=

// gemini API key
GEMINI_API_KEY=
